.git
.github
.venv
.venv/**
**/__pycache__
**/node_modules
**/cdk.out
*.py[cod]
*.egg-info
.mypy_cache
.pytest_cache
.ruff_cache
.env
.env.*
!.env.example
node_modules
infra/iac/cdk.out
infra/iac/dist
output
